// COLORES VARIABLES
$colorA1: #FAE85A;
$colorB1: #DEBF50;
$colorC1: #F5C764;
$colorD1: #DEA350;
$colorE1: #FAA05A;

$colorA2: #FAA05A;
$colorB2: #7EF57D;
$colorC2: #F5A364;
$colorD2: #694CF5;
$colorE2: #4F3DA8;

$colorBoton: coral;

// varaibles typography

$font:Verdana, Geneva, Tahoma, sans-serif;
$inicio: 18px;
$zapatos: 14px;
$derechos: 12px;
$novedades: 22px;
$latiendita: 20px;

$bold: bold;
$regular: normal;

@import 'variables';